* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*
  =====================================================
    Error Page Styling
  =====================================================
*/
.text {
  font-weight: bolder !important;
}

.controller {
  color: rgb(41, 90, 224);
}

.method {
  color: rgb(136, 28, 127);
}

.paragraph {
  background-color: orange;
  color: #fff;
}
/* ==================================================== */


/*
  =====================================================
    Error Page Styling
  =====================================================
*/


/* ==================================================== */


/*
  =====================================================
    Error Page Styling
  =====================================================
*/


/* ==================================================== */


/*
  =====================================================
    Error Page Styling
  =====================================================
*/


/* ==================================================== */


/*
  =====================================================
    Error Page Styling
  =====================================================
*/


/* ==================================================== */


/*
  =====================================================
    Error Page Styling
  =====================================================
*/


/* ==================================================== */